@import "./base/mixins";
@import "./base/variables";
@import "./components/header";
@import "./components/banner";
@import "./components/product";
@import "./components/slider";
@import "./components/textCarousel";
@import "./components/formInput";
@import "./components/inspiration";
@import "./components/faq";
@import "./components/singleBanner";
@import "./components/contact";
@import "./components/footer";
@import "./components/popup";
@import "./components/popupCookieBar";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}
