@import "./base/mixins";
@import "./base/variables";
@import "./components/header";
@import "./components/banner";
@import "./components/product";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}
