@import "../base/mixins";
@import "../base/variables";

.popup-overlay {
  @include center-flex;
  background: $background;
  position: fixed;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0; //0
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
  .popup-wrapper {
    @include center-flex;
    height: 420px;
    .popup-image {
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-top: 6px;
      }
    }
    .popup-content {
      @include center-flex;
      flex-direction: column;
      width: 460px;
      height: 100%;
      background: $color-white;
      position: relative;
      h3 {
        font-family: Lora;
        font-size: 34px;
        font-weight: 400;
        line-height: 56px;
        text-align: center;
      }
      h2 {
        font-family: Lora;
        font-size: 36px;
        font-weight: 400;
        line-height: 56px;
        text-align: center;
        width: 300px;
      }
      p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        width: 200px;
        margin-top: 20px;
      }
      .icon-popup {
        i {
          font-size: 36px;
        }
        position: absolute;
        top: 2%;
        right: 2%;
      }
    }
  }
}
.popup-overlay.active {
  visibility: visible;
  opacity: 1;
}
