@import "../base/mixins";
@import "../base/variables";

.popup-success,
.popup-error,
.popup-overlay {
  @include center-flex;
  background: $background;
  position: fixed;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0; //0
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
  .popup-wrapper {
    @include center-flex;
    height: 420px;
    width: 900px;
    h1 {
      font-family: Lora;
      font-size: 32px;
      font-weight: 400;
      line-height: 56px;
      text-align: center;
      margin: 10px 20px;
    }
    .popup-image {
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-top: 6px;
      }
    }
    .popup-content {
      @include center-flex;
      flex-direction: column;
      height: 100%;
      background: $color-white;
      position: relative;
      h3 {
        font-family: Lora;
        font-size: 34px;
        font-weight: 400;
        line-height: 56px;
        text-align: center;
      }
      h2 {
        font-family: Lora;
        font-size: 36px;
        font-weight: 400;
        line-height: 56px;
        text-align: center;
        width: 300px;
        margin: 0px 70px;
      }
      p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        width: 200px;
        margin-top: px;
      }
      .icon-popup,
      .icon-popup-fetch {
        i {
          font-size: 36px;
        }
        position: absolute;
        top: 2%;
        right: 2%;
      }
    }
  }
}
.popup-overlay.active {
  visibility: visible;
  opacity: 1;
}

.popup-error.action {
  visibility: visible;
  opacity: 1;
}

.popup-success.action {
  visibility: visible;
  opacity: 1;
}

// recaptcha
.form {
  position: relative;
}
.popup-recaptcha {
  @include center-flex;
  background: $background;
  position: fixed;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0; //0
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 500;
  top: 0;
  left: 0;
  .g-recaptcha {
    @include center-flex;
  }
}

.popup-recaptcha.action {
  visibility: visible;
  opacity: 1;
}
